@media screen and (max-width: 468px) {
    .l-part{
        display: none;
    }

    .l-part-main {
        display: none;
    }

    .r-part{
        width: 100%;
    }

    
    .r-part-main {
        width: 100%;
    }
    
    
    

    




}


@media screen and (min-width: 768px) {

    .l-part {
        width: 15%;
    }

    .r-part {
        width: 85%;
    }

    .contact{
        width: 15%;
    }

    .contact-info {
        width: 85%;
    }

    .l-part-main {
        width: 15%;
    }

    .r-part-main {
        width: 85%;
    }


}


@media screen and (min-width: 992px) {

    .all{
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
        height: 100vh;
        padding: 50px;
    }

    .all-header{
        width: 100%;
    }

    .l-part {
        width: 30%;
    }

    .r-part {
        width: 70%;
    }

    .all-main{
        height: 85vh;
        

    }

    .l-part-main {
        width: 30%;
    }

    .r-part-main {
        width: 70%;
    }


}