/* RESET */
/* Going Mobile First */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


.all-header{
    display: flex;
    flex-direction: row;
    width: 100%;

    /* Debug */
    height: 7vh;
    background-color: aqua;
}

.r-part{
    display: flex;
    flex-direction: row;

    width: calc(100% - 112px);

    /* Debug */
    background-color: springgreen;



}

.contact {
    width: 93px;

    border: 1px solid black;
}

.contact-info {
    width: calc(100% - 93px);
    border: 1px dashed black;
}

.l-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 112px;


    background-color: chocolate;
}

.user-avatar{



}

.all-main{
    display: flex;
    flex-direction: row;
    width: 100%;

    /* Debug */
    height: 93vh;
    /* background-color: aqua; */
}

.l-part-main {
    width: 115px;

    background-color: brown;
}

.people {
    width: 100%;
    height: 129px;
    border: 1px solid black;
}

.l-part-main div {
    overflow-y: scroll;
}



.r-part-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: calc(100% - 115px);
    

    background-color: aqua;
}

.r-part-main div {
    overflow-y: scroll;
}

.all-footer {
    display: flex;
    flex-direction: row;
    width: 100%;

    height: 10vh;
    background-color: violet;
}

